<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
</head>
<body>
    <div th:replace="includes/navbar :: navbar"></div><br/><br/>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded border-dark time-right" style="width: 18rem;" align="center">
                    <div class="card-body">
                        <form th:action="@{/saveFaq}" th:object="${faq}" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Question</label>
                                <input th:field="*{question}" th:value="*{question}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="ans">Answer</label>
                                <input th:field="*{answer}" type="text" class="form-control" id="ans">
                            </div>
                            <div class="form-group">
                                <label for="id">Id</label>
                                <input th:field="*{id}" th:value="*{id}" type="text" class="form-control" id="id">
                            </div>
                            <div class="form-group">
                                <label for="askby">Asked By</label>
                                <input th:field="*{userName}" th:value="*{userName}" type="text" class="form-control" id="askby">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>
    <div th:replace="includes/footer :: footer"></div>
</body>
</html>